<h1><%= @event.name %></h1>

<div>
  <strong><%= @event.location %></strong>
</div>

<p><%= @event.datetime %></p>

<% if @event.host == current_user %>
  <%= link_to "Invite people to your event!", new_invitation_path(event: {attended_event_id: @event.id}) %>
<% end %>